select,
input,
textarea{
  width: 52em;
}

input#txtBusca{
    margin-bottom: 15px;
    margin-top: 10px;
  }
  input#button{
    margin-left: 10px;
  }

  input#outro{
    width: 43em;
  }
div#divBusca{
  margin-top: 50px;
}

