<div class="container" id="feedback">
  
  <div class="title">
    <h1>Avaliar profissional</h1>
  </div>

  <form>

    <label id="professionalType">
      <span for="exampleFormControlSelect1">Profissional*</span>
      <select class="form-control" id="Mensagem"><br>
        <option></option>
        <option>Médico</option>
        <option>Dentista</option>
        <option>Psicólogo</option>
        <option>Nutricionaista</option>
        <option>Enfermeiro</option>
        <option>Fisioterapeuta</option>
      </select>
    </label><br>
    
    <label id="specialty">
      <span for="exampleFormControlSelect1">Especialidade*</span>
      <select class="form-control" id="Mensagem"><br>
        <option></option>
        <option>Outro</option>
      </select>
    </label><br><br>
    
    <div id="button">
      <input type="submit" value="Buscar" id="button"><br><br>
    </div>

    <div class="feedback-star">
      <label>Qual sua avaliação?</label><br>
      <button class="intercom-reaction" data-reaction-text="star" tabindex="0" aria-label="Disappointed Reaction">
      <span data-emoji="star1" title="1">⭐</span>
      </button>
      <button class="intercom-reaction" data-reaction-text="star" tabindex="0" aria-label="Neutral face Reaction">
      <span data-emoji="star2" title="2">⭐</span>
      </button>
      <button class="intercom-reaction" data-reaction-text="star" tabindex="0" aria-label="Neutral face Reaction">
      <span data-emoji="star3" title="3">⭐</span>
      </button>
      <button class="intercom-reaction" data-reaction-text="star" tabindex="0" aria-label="Neutral face Reaction">
      <span data-emoji="star4" title="4">⭐</span>
      </button>
      <button class="intercom-reaction" data-reaction-text="star" tabindex="0" aria-label="Neutral face Reaction">
      <span data-emoji="star5" title="5">⭐</span>
      </button>
    </div>
    
   
    <div class="coments">
      <label>Comentários</label><br>
      <textarea
        class="cc"
        id="comentsText"
        rows="5"
      ></textarea>
    </div><br>
    
    <div id="button">
      <input type="submit" value="Enviar" id="button">
    </div>
  </form>
</div>