<div class="container" id="patients-page">
  <div class="row" id="patients-page">

      <div class="colum-8" id="patients-complete-form">

          <div class="titulo">
              <h1> Cadastro do Paciente</h1>
          </div>

          <form>

              <label for = "Nome *">
              <span>Nome*</span><br>
              <input type="text" id="Name" Nome="Nome">
              </label><br>

              <label for = "cpf *">
              <span>CPF*</span><br>
              <input type="text " id="cpf" Nome="cpf" mask="000.000.000-00" placeholder="000.000.000-00">
              </label><br>

              <label for = "e-mail">
              <span>E-mail*</span><br>
              <input type="email" id="e-mail" Nome="e-mail" placeholder="nome@exemplo.com" >
              </label><br>

              <label for = "telefone">
              <span>Telefone</span><br>
              <input type="tel" id="telephone" Nome="telefone" mask="(00) 0000-0000" placeholder="(xx) xxxx-xxxx" >
              </label><br>

              <label for = "celular">
              <span>Celular*</span><br>
              <input type="tel" id="cell-phone" Nome="telefone" mask="(00) 00000-0000"  placeholder="(xx) xxxxxx-xxxx" >
              </label><br>

              <label for = "data de nascimento">
              <span>Data de Nascimento*</span><br>
              <input type="date" id="date-of-birth" Nome="data de nascimento">
              </label><br>

              <label id="social-media">
                <span>Redes sociais</span><br>
                <input type="text" name="instagram" placeholder="Instagram">
              </label><br>

              <label id="password">
                <span>Senha*</span><br>
                <input type="password" id="senha" Nome="senha">
              </label><br><br>

              <input type="submit" value="Salvar" id="button">

          </form>
      </div>

      <div class="colum-4">

          <div class="imagem">
          <img src="../../assets/IMG/Paciente-Pride.big.png" alt="IMG - Pacientes">
      </div>
  </div>
</div>
