<div class="container" id="patients-page">
  <div class="row" id="patients-page">

    <div class="colum-8" id="patients-complete-form">

      <div class="title">
        <h1> Cadastro de paciente</h1>
      </div>

      <form id="patients-form">

        <label id="name">
          <span>Nome*</span><br>
          <input type="text" name="name">
        </label><br>

        <label id="cpf">
          <span>CPF*</span><br>
          <input type="text" name="cpf" mask="000.000.000-00" placeholder="000.000.000-00">
        </label><br>

        <label id="e-mail">
          <span>E-mail*</span><br>
          <input type="email" name="e-mail" placeholder="nome@exemplo.com">
        </label><br>

        <label id="phone">
          <span>Contato*</span><br>
          <input type="tel" name="phone" mask="(00) 00000-0000" placeholder="(00) 00000-0000">
        </label><br>

        <label for = "birthday">
          <span>Data de Nascimento*</span><br>
          <input type="date" name="date-of-birth">
        </label><br>

        <label id="social-media">
          <span>Instagram</span><br>
          <input type="text" name="instagram" placeholder="Instagram">
        </label><br>

        <label id="password">
          <span>Senha*</span><br>
          <input type="password" id="senha" Nome="senha">
        </label><br><br>

        <div id="button">
          <input type="submit" value="Salvar" id="button">
        </div>
        

      </form>

        

    </div>

    <div class="colum-4">

      <div class="imagem">
        <img src="../../assets/IMG/Paciente-Pride.big.png" alt="IMG - Pacientes">
      </div>

    </div>
  </div>
</div>
