<h1>Denúncia de profissional</h1>

 <form>
    <meta charset="UTF-8">
    <div class="col-auto">

<div id="divBusca">
  <input type="text" id="txtBusca" placeholder="Buscar Profissionais"/>
  <input type="submit" value="Buscar" id="button">
</div>

<label id="professionalType">
  <span for="exampleFormControlSelect1">Profissional*</span>
  <select class="form-control" id="Mensagem"><br>
    <option></option>
    <option>Médico</option>
    <option>Dentista</option>
    <option>Psicólogo</option>
    <option>Nutricionaista</option>
    <option>Enfermeiro</option>
    <option>Fisioterapeuta</option>
    <option>Outro</option>
  </select>
</label><br>

<label for = "outro ">
  <span> Outro:</span><br>
  <input type="text " id="outro" Nome="outro">
  </label><br>

<label id="specialty">
  <span for="exampleFormControlSelect1">Especialidade*</span>
  <select class="form-control" id="Mensagem"><br>
    <option></option>
    <option>Outro</option>
  </select>
</label><br>

<label for = "outro ">
  <span> Outro:</span><br>
  <input type="text " id="outro" Nome="outro">
  </label><br>

<form id="complain-form">
    <div class="cause">
      <label for="exampleFormControlSelect1">Motivo da denúncia</label>
      <select class="form-control" id="Mensagem">
        <option></option>
        <option>Uso de termos pejorativos</option>
        <option>Agressão física</option>
        <option>Ambiente hostil</option>
        <option>Outro</option>
      </select>
    </div>
    <label for = "outro ">
      <span> Outro:</span><br>
      <input type="text " id="outro" Nome="outro">
      </label><br>

    <div class="coments">
      <label for="exampleFormControlTextarea1">Comentários</label><br>
      <textarea
        class="cc"
        id="comentsText"
        rows="5"
      ></textarea>
    </div><br>

    <input type="submit" value="Enviar" id="button">
</form>
<form>
