<div class="container" id="complain">
  
  <div class="title">
    <h1>Denunciar profissional</h1>
  </div>

  <form>

    <label id="professionalType">
      <span for="exampleFormControlSelect1">Profissional*</span>
      <select class="form-control" id="Mensagem"><br>
        <option></option>
        <option>Médico</option>
        <option>Dentista</option>
        <option>Psicólogo</option>
        <option>Nutricionaista</option>
        <option>Enfermeiro</option>
        <option>Fisioterapeuta</option>
      </select>
    </label><br>
    
    <label id="specialty">
      <span for="exampleFormControlSelect1">Especialidade*</span>
      <select class="form-control" id="Mensagem"><br>
        <option></option>
        <option>Outro</option>
      </select>
    </label><br><br>
    
    <div id="button">
      <input type="submit" value="Buscar" id="button"><br><br>
    </div>
    
    <form id="complain-form">
      <div class="cause">
        <label for="exampleFormControlSelect1">Motivo da denúncia*</label>
        <select class="form-control" id="Mensagem">
          <option></option>
          <option>Uso de termos pejorativos</option>
          <option>Agressão física</option>
          <option>Ambiente hostil</option>
          <option>Outro</option>
        </select>
      </div>
    
      <div class="coments">
        <label>Comentários</label><br>
        <textarea
          class="cc"
          id="comentsText"
          rows="5"
        ></textarea>
      </div><br>
    
      <div id="button">
        <input type="submit" value="Enviar" id="button">
      </div>
    </form>
