<h1>Login</h1>

<form id="login-form">

    <label id="specialty">
        <span for="exampleFormControlSelect1">Você é?</span>
        <select class="form-control" id="person"><br>
        <option>Profissional</option>
        <option>Paciente</option>
        </select> 
    </label><br>

    <label id="e-mail">
        <span>E-mail</span><br>
        <input type="email" name="e-mail" placeholder="nome@exemplo.com">
    </label><br>

    <label id="password">
        <span>Senha*</span><br>
        <input type="password" id="senha" Nome="senha">
    </label><br><br>

    <input type="submit" value="Entrar" id="button">

</form>