<div class="container" id="login">
  
    <div class="title">
      <h1>Login</h1>
    </div>

    <div id="login-form">

        <form>
            <label id="user-select">
                <span>Você é?</span>
                <select class="form-control" id="user"><br>
                    <option>Profissional</option>
                    <option>Paciente</option>
                </select> 
            </label><br>

            <label id="e-mail">
                <span>E-mail</span><br>
                <input type="email" name="e-mail" placeholder="nome@exemplo.com">
            </label><br>

            <label id="password">
                <span>Senha*</span><br>
                <input type="password" id="senha" Nome="senha">
            </label><br><br>
            
            <div id="button">
                <input type="submit" value="Entrar" id="button">   
            </div>
        </form>
    </div>

    
    
</div>