<h1>Busque por profissionais!!</h1>


  <meta charset="UTF-8">
  <div class="col-auto">

<div class="imagem">
  <img src="../../assets/IMG/iconebuscar.png" alt="IMG - Buscar">
  </div>

  <div id="divBusca">
    <input type="text" id="txtBusca" placeholder="Buscar Profissionais"/>
    <input type="submit" value="Buscar" id="button">
  </div>


    <label id="professionalType">
      <span for="exampleFormControlSelect1">Profissional*</span>
      <select class="form-control" id="Mensagem"><br>
        <option></option>
        <option>Médico</option>
        <option>Dentista</option>
        <option>Psicólogo</option>
        <option>Nutricionaista</option>
        <option>Enfermeiro</option>
        <option>Fisioterapeuta</option>
        <option>Outro</option>
      </select>
    </label><br>

    <label for = "outro ">
      <span> Outro:</span><br>
      <input type="text " id="outro" Nome="outro">
      </label><br>

    <label id="specialty">
      <span for="exampleFormControlSelect1">Especialidade*</span>
      <select class="form-control" id="Mensagem"><br>
        <option></option>
        <option>Outro</option>
      </select>
    </label><br>

    <label for = "outro ">
      <span> Outro:</span><br>
      <input type="text " id="outro" Nome="outro">
      </label><br>







