img{
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    right: 100px;
    margin-top: 80px;

  }

  h1{
    text-align: center;
  }
input{
  width: 26em;
}

select{
  width: 31em;
}


