<div class="container" id="professionals-page">
  <div class="row" id="professionals-page">

    <div class="colum-8" id="professionals-complete-form">

      <div class="title">
        <h1>Cadastro de profissional</h1>
      </div>

      <form id="professionals-form">

        <label id="name">
          <span>Nome*</span><br>
          <input type="text" name="name">
        </label><br>

        <label id="cpf">
          <span>CPF*</span><br>
          <input type="text" name="cpf" mask="000.000.000-00" placeholder="000.000.000-00">
        </label><br>

        <label id="professional-register">
          <span>Registro profissional*</span><br>
          <input type="text" name="professional-register">
        </label><br>

        <label id="e-mail">
          <span>E-mail*</span><br>
          <input type="email" name="e-mail" placeholder="nome@exemplo.com">
        </label><br>

        <label id="professionalType">
          <span for="exampleFormControlSelect1">Profissional*</span>
          <select class="form-control" id="Mensagem"><br>
            <option></option>
            <option>Médico</option>
            <option>Dentista</option>
            <option>Psicólogo</option>
            <option>Nutricionaista</option>
            <option>Enfermeiro</option>
            <option>Fisioterapeuta</option>
          </select>
        </label><br>

        <label id="specialty">
          <span for="exampleFormControlSelect1">Especialidade*</span>
          <select class="form-control" id="Mensagem"><br>
            <option></option>
            <option>Outro</option>
          </select>
        </label><br>

        <label id="place">
          <span>Local de atendimento*</span><br>
          <input type="text" id="place">
        </label><br>

        <label id="phone">
          <span>Contato*</span><br>
          <input type="tel" name="phone" mask="(00) 00000-0000" placeholder="(00) 00000-0000">
        </label><br>

        <label id="social-media">
          <span>Instagram</span><br>
          <input type="text" name="instagram" placeholder="Instagram">
        </label><br>

        <label id="health-insurance">
          <span>Convênios</span><br>
          <input type="text" name="health-insurance">
        </label><br>

        <label id="password">
          <span>Senha*</span><br>
          <input type="password" id="senha" Nome="senha">
        </label><br><br>

        <div id="button">
          <input type="submit" value="Salvar" id="button">
        </div>

      </form>
    </div>

    <div class="colum-4" id="professionals-image">
      <img src="../../assets/IMG/professional-image.png" alt="Imagem profissionais">
    </div>

  </div>
</div>
